:root {
    --color-primary: #12354f;
    --color-secondary: #124e6a;
    --color-accent: #ff6f20;
    --color-highlight: #ff9f40;
    --color-light: #20dad5;
    --color-background: #f0f4f8;
}

section {
    background-color: var(--color-background);
}

h1 {
    color: var(--color-primary);
}

h2 {
    color: var(--color-secondary);
}

h3 {
    color: var(--color-secondary);
    font-size: 0.9em;
}

h4 {
    color: var(--color-secondary);
    font-size: 0.8em;
}

h5 {
    color: var(--color-secondary);
    font-size: 0.7em;
}

h6 {
    color: var(--color-secondary);
    font-size: 0.6em;
}

a {
    color: var(--color-highlight);
}

a:hover {
    color: var(--color-light);
}

strong {
    color: var(--color-accent);
}

header, footer {
    color: var(--color-secondary);
}